/*css variable*/
:root{
    --primary:#ddd;
    --dark:#333;
    --light:#fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

}
html{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: var(--dark);
}
body{
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}
.btn{
    background:  var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border:0;

}
img{
    max-width:100%;
}
.wrapper{
    display:block;
    grid-gap: 20px;
}

/*navigation*/
.main-nav ul{
    display:grid;
    grid-gap: 20px;
    padding:0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a{
    background:  var(--primary);
    display:block;
    text-decoration:  none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}
.main-nav a:hover{
    background: var(--dark);
    color: var(--light);
}
/*container*/
.top-container{

    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b'
}

/*showcase*/
.showcase{
    grid-area: showcase;
    min-height: 400px;
    background-size: cover;
    background-position:  center;
    padding: 3rem;

    /* affichage test inn showcase*/
    display: flex;
    flex-direction:  column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);

}
.showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}
.showcase p{
    font-size: 1.3rem;
    margin-bottom: 0;
    color: var(--light);
}

/* top box*/
.top-box{
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items:center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}


.top-box-a{
    grid-area: top-box-a;

}
.top-box-b{
    grid-area:  top-box-b;
}
/* boxes*/
.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}
.box{
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow:  var(--shadow);
}
/*shadow*/

.info{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns:  repeat(2, 1fr);
    background: url(./kyle-glenn-678340-unsplash.jpg);
    background-size: cover;
    background-position:  center;
    padding: 3rem;
}

/*form*/



form{
    margin: 20px auto;

    color:white;
}

input{
  margin-bottom: 5px;
}

input[type="submit"]{
    width: 330px;
    height: 45px;
    border: none;
    background: var(--dark);
    color: var(--light);
}
input[type="submit"]:focus{
    width: 330px;
    height: 45px;
    border: none;
  color: var(--dark);
  background: : var(--light);
}



/*bouton reset*/
input[type="reset"]{
    width: 330px;
    height: 45px;
    border: none;
    background: var(--dark);
    color: var(--light);
}
input[type="reset"]:focus{
    width: 330px;
    height: 45px;
    border: none;
    color: var(--dark);
background:var(--light);
}







/*protfolio*/
.portfolio{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));


}
.portfolio img{
    width: 100%;
    padding:0;
    box-shadow: var(--shadow);
}

/*footer*/
footer{
    margin-top:2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

/*media querry*/
@media(max-width: 700px  ){
    .top-container {
        grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-b'
    }

    .showcase h1{
        font-size: 2.5rem;
    }
    .main-nav ul{
        grid-template-columns: 1fr;
    }
    .info {
        grid-template-columns: 1fr;
    }
    .info .btn{
        display: block;
        text-align: center;
        margin: auto;
    }

@media(max-width: 500px){
    .top-container{
        grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b';
    }
}

}


/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}



/* The dots/bullets/indicators */
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}


@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}
